@{
    ViewData["Title"] = "Arts";
}

@model List<Article>

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<div class="block-reg background-white">
    <form class="frm" method="get" asp-controller="Article" asp-action="ViewArticles">
        <div asp-validation-summary="ModelOnly"></div>
    </form>
    @if (Model.Count != 0)
    {
        @foreach (var art in Model)
        {
            <div>

                <font size="20"><dl><a class="nav-link text-dark" href="@Url.Action("ViewArticle", "Article", new { id = art.Id })">@art.Title</a></dl></font>
                <div>
                    @art.Content
                </div>
            </div>
        }
    }
    else
    {
        <div>
            <label> У вас пока нет статей</label>
        </div>
    }
</div>