@{
    ViewData["Title"] = "MyPage";
}

@model Blog.ViewModels.ArticleViewModel

<script src = "https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js" ></script>
<script src = "https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js" ></script>

<div class= "block-reg background-white" >
    <form class= "frm" method = "get" asp-controller = "User" asp-action = "MyPage" >
        <div asp-validation-summary = "ModelOnly" ></div>
    </form>
    @if (Model.Articles.Count != 0)
    {
        @foreach (var art in Model.Articles)
        {
       <div>
                <font size="20"><li><a class="nav-link text-dark" asp-area="" asp-controller="Article" asp-action="ViewArticle">@art.Title</a></li></font>
                <div>
                    @art.Content
                </div>
       </div>
        }
    }
    else
    {
    <div>
        <label> У вас пока нет статей</label>
    </div>
    }
</div>