@{
    ViewData["Title"] = "Logout";
}

<div class="righ-align">
        <form method="post" asp-controller="User" asp-action="Logout">
            <input class="enter_submit" type="submit" value="Выход" />
        </form>
</div>
