@{
    ViewData["Title"] = "NewComment";
}

@model Blog.ViewModels.CommentViewModel

<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>

<div class="block-reg background-white">
    <h4 class="center">Комментарий</h4>
    <form class="frm" method="post" asp-controller="Comment" asp-action="Create">
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <div class="mrgn">
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
        </div>
        <div>
            <input class="bg-success text-white" type="submit" value="Добавить" />
        </div>
    </form>
</div>